<div class="card" >
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <p> </p>
  <div class="card-body">
    <h5 class="card-title">Analyze text</h5>
    <p class="card-text">Helps teacher to analyze provided text from the grammar and vocabulary perspective
      and create engaging, professional content.
    </p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#textAnalysisModal">Launch</button>
  </div>
</div>
<div class="modal fade" id="textAnalysisModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:70%">
    <div class="modal-content">
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Analyze text</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row" >
              <div class="col-5">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <select class="form-select" aria-label="Default select example" name="languageLevel" ngModel >
                        <option selected value="A1" >A1</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="C1">C1</option>
                        <option value="C2">C2</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row" >
                  <div class="col-12">
                    <div class="btn-group" style=" width: 100%;" role="group" aria-label="Basic radio toggle button group">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" (click)="setinput('TEXT')" checked>
                      <label class="btn btn-outline-secondary" for="btnradio1">Text</label>
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="setinput('IMAGE')" >
                      <label class="btn btn-outline-secondary" for="btnradio2">Image</label>
                    </div>
                    <div class="row" style="margin-top: 1em" >
                      <div class="col-12" [hidden]="input != 'TEXT'" >
                        <textarea class="form-control" placeholder="Put text to analyze" rows="7" name="textFromForm" ngModel ></textarea>
                      </div>
                      <div class="col-12" [hidden]="input != 'IMAGE'" >
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Select image containing text</label>
                          <input class="form-control" type="file" id="formFile" value="selectedFile" (change)="onFileSelected($event)">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row" style="margin-top: 0.5em;">
                  <div class="col-6">
                    <h5> Vocabulary </h5>
                  </div>
                  <div class="col-6">
                    <h5> Grammar </h5>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="vocabularyQuestions" class="form-label">Generate questions</label>
                      <select class="form-select" id="vocabularyQuestions" aria-label="Default select example" name="vocabularyQuestions" ngModel>
                        <option selected value="0" >0</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="15">15</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="mb-3">
                      <label for="grammarExercises" class="form-label">Generate exercises</label>
                      <select class="form-select" id="grammarExercises" aria-label="Default select example" name="grammarExercises" ngModel >
                        <option selected value="0" >0</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="15">15</option>
                      </select>
                    </div>
                  </div>

                </div>
                 <div class="row" >
                  <div class="col-12">
                    <h5> Include </h5>
                  </div>
                  <div class="col-12">
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="homework" name="homework" ngModel  >
                      <label class="form-check-label" for="homework" >Homework</label>
                    </div>
                  </div>
                  <!--					<div class="col-12">
                     <div class="mb-3 form-check">
                       <input type="checkbox" class="form-check-input" id="exampleCheck1">
                       <label class="form-check-label" for="exampleCheck1">Games on v</label>
                     </div>
                     </div> -->
                  <div class="col-12">
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="discussion" name="discussion" ngModel >
                      <label class="form-check-label" for="discussion">Discussion questions for a dialogue</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="dictionary" name="dictionary" ngModel  >
                      <label class="form-check-label" for="dictionary">Dictionary on vocabulary topic</label>
                    </div>
                  </div>


                  <div class="col-12">
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="commonPhrases" name="commonPhrases" ngModel  >
                      <label class="form-check-label" for="commonPhrases">Common phrases on topic</label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-7" style="border: 1px solid black 25%; overflow: auto; height: 600px; background: #d9d9d9" > <!-- #e6e6e6 -->
                <div [innerHTML]="response"></div>
                <p style="height: 40%"> </p>
                <p style="text-align: center;" *ngIf="showLoading" > This is test version.  </p>
                <p style="text-align: center;" *ngIf="showLoading" [innerHTML]="progress" >  </p>
                <p style="text-align: center;" *ngIf="showLoading" >   Analyzing text needs some time.
                  <!--It is done in
                  <countdown #cd [config]="{ leftTime: 45, format: 'mm:ss' }" (event)="handleEvent($event)" />
                  -->
                </p>
                <div class="d-flex justify-content-center" *ngIf="showLoading" >
                  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                  </div>
                </div>
                <p style="text-align: center;" *ngIf="showLoading" >  </p>
                <p style="text-align: center;" *ngIf="showLoading" > Thanks for patience :)  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--  <button type="submit" class="btn btn-primary">Chat</button> TODO enable after generation -->
          <button type="submit" class="btn btn-primary">Generate</button>
        </div>
      </form>
    </div>
  </div>
</div>
