<div class="row">
    <div class="col">
      <h2>Tools</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-lecture-generator></app-lecture-generator>
    </div>
    <div class="col-3">
      <app-text-analysis></app-text-analysis>
    </div>
    <div class="col-3">
      <app-audio-analysis></app-audio-analysis>
    </div>
     <div class="col-3">
        <div class="card bg-secondary text-center" >
        <!--   <img src="..." class="card-img-top" alt="..."> -->
           <p> </p>
           <div class="card-body">
             <h5 class="card-title"></h5>
             <p class="card-text  ">.</p>
             <p class="card-text text-white">More tools coming...</p>
             <p class="card-text">.</p>
             <p class="card-text">.</p>
            <!-- <a href="#" class="btn bg-light text-dark"></a> -->
           </div>
         </div>
       </div>
    <!--  <div class="col">
       <div class="card bg-secondary" >
          <img src="..." class="card-img-top" alt="...">
         <p> </p>
         <div class="card-body">
           <h5 class="card-title"></h5>
           <p class="card-text">.</p>
           <p class="card-text">.</p>
           <p class="card-text">.</p>
           <a href="#" class="btn bg-light text-dark">Use tool</a>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card bg-secondary" >
          <img src="..." class="card-img-top" alt="...">
         <p> </p>
         <div class="card-body">
           <h5 class="card-title"></h5>
           <p class="card-text">.</p>
           <p class="card-text">.</p>
           <p class="card-text">.</p>
           <a href="#" class="btn bg-light text-dark">Use tool</a>
         </div>
       </div>
       </div>-->
  </div>
