<div class="row" style="padding-right: calc(var(--bs-gutter-x) * 0.5);
     padding-left: calc(var(--bs-gutter-x) * 0.5);" >
  <!-- Sidebar -->
  <div class="col-2">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="color: #fff !important; background-color: RGBA(33,37,41) !important;" >
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <!-- <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#arrow-repeat"/>
        </svg> -->
        <span class="fs-4">Teacher's center</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link text-white active">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#speedometer2"/>
            </svg>
            Tools
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#grid"/>
            </svg>
            Lecture
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#table"/>
            </svg>
            Classes
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#people-circle"/>
            </svg>
            Students
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#home"/>
            </svg>
            Resources
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- content -->
  <div class="col-10">
    <router-outlet />
  </div>
</div>
